body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(226, 241, 220);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 8em;
  background-color: #267720;
  color: white;
}

.header_logo {
  margin: 1em;
}

.header_navbar {
  display: flex;
  gap: 3em;
  margin-bottom: 2em;
  align-items: flex-end;
  font-size: large;
}
.header_navbar .header_login {
  margin: 0;
}

.navigation_links {
  display: flex;
  gap: 10%;
  font-size: large;
}
.navigation_links ul {
  list-style: none;
}
.navigation_links ul li {
  float: left;
}
.navigation_links ul .navigation_links_link {
  display: block;
  color: white;
  text-align: center;
  padding-right: 1.5em;
  text-decoration: none;
}
.navigation_links ul .navigation_links_link:hover {
  color: #7af871;
  text-decoration: underline;
}

.frame, .product img, .about img, .home_books img {
  border: 2px solid #185214;
  border-radius: 5em;
  box-shadow: 3px 3px 3px rgb(91, 100, 91);
}

.basic-button, .cart button, .product button {
  height: 3.5em;
  padding-left: 1em;
  padding-right: 1em;
  color: white;
  background-color: #267720;
  border-color: #185214;
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgb(91, 100, 91);
  margin-bottom: 2em;
  font-size: medium;
}
.basic-button:hover, .cart button:hover, .product button:hover {
  background-color: #185214;
  color: #7af871;
  cursor: pointer;
}

main {
  text-align: center;
}
main h2 {
  margin-top: 5em;
}

.home_books img {
  mix-blend-mode: hard-light;
  border: 2px solid #185214;
  border-radius: 5em;
  max-width: 50em;
}

h1 {
  margin-bottom: 3em;
}

.main_introduction {
  font-size: large;
  margin-bottom: 3em;
}

hr {
  margin-bottom: 3em;
  margin-top: 3em;
}

.home_featured {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 2em;
}

.home_featured li {
  max-width: 25em;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid rgb(91, 100, 91);
  box-shadow: 1px 1px 1px rgb(91, 100, 91);
}
.home_featured li img {
  border-radius: 10px;
  margin: 0.5em;
  display: flex;
  width: 22em;
  height: auto;
  justify-content: center;
  align-items: center;
}
.home_featured li button {
  height: 3.5em;
  padding-left: 1em;
  padding-right: 1em;
  color: white;
  background-color: #267720;
  border-color: #185214;
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgb(91, 100, 91);
  margin-bottom: 2em;
  font-size: medium;
}
.home_featured li button:hover {
  background-color: #185214;
  color: #7af871;
  cursor: pointer;
}

footer {
  display: flex;
  height: 8em;
  margin-top: 5em;
  margin-bottom: 0;
  align-items: center;
}

.footer_texts {
  margin-left: 3em;
  display: flex;
}
.footer_texts p {
  margin-bottom: 1em;
  font-size: medium;
}
.footer_texts .footer_nav .navigation_links_link {
  color: black;
  font-size: medium;
}
.footer_texts .footer_nav .navigation_links_link:hover {
  color: #267720;
  text-decoration: underline;
}

.products {
  margin-left: 3em;
}
.products h1 {
  margin-left: 6em;
}

.products_filterButtons {
  margin-top: 1em;
}
.products_filterButtons button {
  height: 3em;
  margin-right: 0.5em;
  color: white;
  background-color: #267720;
  border-color: #185214;
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgb(91, 100, 91);
}
.products_filterButtons button:hover {
  background-color: #185214;
  color: #7af871;
  cursor: pointer;
}

.products_list {
  max-width: 80%;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1em;
}

.products_list_item {
  max-width: 20em;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid rgb(91, 100, 91);
  box-shadow: 1px 1px 1px rgb(91, 100, 91);
}
.products_list_item img {
  border-radius: 10px;
  margin: 0.5em;
  display: flex;
  width: 19em;
  height: auto;
  justify-content: center;
  align-items: center;
}
.products_list_item .products_list_texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.products_list_item .products_list_texts .products_list_title p {
  margin-bottom: 1em;
}
.products_list_item .products_list_texts button {
  height: 3.5em;
  padding-left: 1em;
  padding-right: 1em;
  color: white;
  background-color: #267720;
  border-color: #185214;
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgb(91, 100, 91);
  margin-bottom: 2em;
  font-size: medium;
}
.products_list_item .products_list_texts button:hover {
  background-color: #185214;
  color: #7af871;
  cursor: pointer;
}

.products_create-new button {
  font-size: large;
  height: 4em;
  padding: 10px;
  background-color: #7af871;
  border-color: #267720;
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgb(91, 100, 91);
}
.products_create-new button:hover {
  background-color: #267720;
  color: #7af871;
  cursor: pointer;
}

.frame, .product img, .about img, .home_books img {
  border: 2px solid #185214;
  border-radius: 5em;
  box-shadow: 3px 3px 3px rgb(91, 100, 91);
}

.basic-button, .cart button, .product button {
  height: 3.5em;
  padding-left: 1em;
  padding-right: 1em;
  color: white;
  background-color: #267720;
  border-color: #185214;
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgb(91, 100, 91);
  margin-bottom: 2em;
  font-size: medium;
}
.basic-button:hover, .cart button:hover, .product button:hover {
  background-color: #185214;
  color: #7af871;
  cursor: pointer;
}

.about {
  margin: 3em;
  width: 60%;
}
.about h1 {
  margin-left: 6em;
}
.about p {
  margin-bottom: 5em;
}
.about .about_picture {
  max-width: 50em;
}
.about .about_picture p {
  text-align: center;
}
.profile {
  margin: 3em;
  width: 60%;
}
.profile h1 {
  margin-left: 6em;
}

.register {
  margin: 5em;
}
.register h1 {
  margin-left: 3em;
}
.register button {
  font-size: large;
  height: 3em;
  padding: 10px;
  background-color: #7af871;
  border-color: #267720;
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgb(91, 100, 91);
  margin-left: 3em;
}
.register button:hover {
  background-color: #267720;
  color: #7af871;
  cursor: pointer;
}

.frame, .product img, .home_books img, .about img {
  border: 2px solid #185214;
  border-radius: 5em;
  box-shadow: 3px 3px 3px rgb(91, 100, 91);
}

.basic-button, .cart button, .product button {
  height: 3.5em;
  padding-left: 1em;
  padding-right: 1em;
  color: white;
  background-color: #267720;
  border-color: #185214;
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgb(91, 100, 91);
  margin-bottom: 2em;
  font-size: medium;
}
.basic-button:hover, .cart button:hover, .product button:hover {
  background-color: #185214;
  color: #7af871;
  cursor: pointer;
}

.product {
  margin: 3em;
  width: 60%;
}
.product h1 {
  margin-left: 6em;
}
.product button {
  margin-left: 1em;
}
.product .product_price {
  font-size: x-large;
  margin-top: 1em;
}
.product .product_add {
  text-align: center;
  margin-top: 1.5em;
}

.frame, .home_books img, .about img, .product img {
  border: 2px solid #185214;
  border-radius: 5em;
  box-shadow: 3px 3px 3px rgb(91, 100, 91);
}

.basic-button, .cart button, .product button {
  height: 3.5em;
  padding-left: 1em;
  padding-right: 1em;
  color: white;
  background-color: #267720;
  border-color: #185214;
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgb(91, 100, 91);
  margin-bottom: 2em;
  font-size: medium;
}
.basic-button:hover, .cart button:hover, .product button:hover {
  background-color: #185214;
  color: #7af871;
  cursor: pointer;
}

.cart {
  margin-left: 3em;
}
.cart h1 {
  margin-left: 6em;
}
.cart ul {
  list-style-type: none;
}
.cart li {
  margin: 1em;
  font-size: large;
}
.cart button {
  height: 3em;
  margin: 1em;
}

/*# sourceMappingURL=styles.css.map */
