@import 'variables';
@import 'features';

.cart {
    margin-left: 3em;

    h1 {
        margin-left: 6em;
    }

    ul {
        list-style-type: none;
    }
    li {
        margin: 1em;
        font-size: large;
    }
    button {
        @extend .basic-button;
        height: 3em;
        margin: 1em;
    }

}