@import 'variables';

.frame {
    border: 2px solid $dark-green;
    border-radius: 5em;
    box-shadow: 3px 3px 3px $shadow-green;
}

.basic-button {
    height: 3.5em;
    padding-left: 1em;
    padding-right: 1em;
    color: white;
    background-color: $mid-green;
    border-color: $dark-green;
    border-radius: 10px;
    box-shadow: 1px 1px 1px $shadow-green;
    margin-bottom: 2em;
    font-size: medium;

    &:hover {
        background-color: $dark-green;
        color: $light-green;
        cursor: pointer;
    }
}
