@import 'variables';

header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 8em;
    background-color: $mid-green;
    color: white;
}

.header_logo {
    margin: 1em;
} 

.header_navbar {
    display: flex;
    gap: 3em;
    margin-bottom: 2em;
    align-items: flex-end;
    font-size: large;

    .header_login {
        margin: 0;
    }
}

.navigation_links {
    display: flex;
    gap: 10%;
    font-size: large;

    ul {
        list-style: none;

        li {
            float: left;
        }

        .navigation_links_link {
            display: block;
            color: white;
            text-align: center;
            padding-right: 1.5em;
            text-decoration: none; 

            &:hover {
                color: $light-green;
                text-decoration: underline;
            }
        }
        
    }
}

.login_form {
    display: flex;
    flex-direction: column;

    button {
        @extend .basic-button;
        margin-top: 1em;
    }
}

.login_register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    button {
        @extend .basic-button;

    }

    .login_link {
        color: white;
        text-decoration: none;

        &:hover {
            color: $light-green;
        }
    }
}

.header_login {
    &:hover {
        cursor: pointer;
        color: $light-green;
        text-decoration: underline;
    }
}

.header_cart {
    display: flex;
    flex-direction: row;
    color: white;
    text-decoration: none;

    p {
        color: white;
    }
    &:hover {
        color: $light-green;
    }
}