@import 'variables';

.products {
    margin-left: 3em;

    h1 {
        margin-left: 6em;
    }
}

.products_filterButtons {
    margin-top: 1em;

    button {
        height: 3em;
        margin-right: 0.5em;
        color: white;
        background-color: $mid-green;
        border-color: $dark-green;
        border-radius: 10px;
        box-shadow: 1px 1px 1px $shadow-green;

        &:hover {
            background-color: $dark-green;
            color: $light-green;
            cursor: pointer;
        }
    }
}

.products_list {
    max-width: 80%;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1em;
}

.products_list_item {
    max-width: 20em;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid $shadow-green;
    box-shadow: 1px 1px 1px $shadow-green;
    
    img {
        border-radius: 10px;
        margin: 0.5em;
        display: flex;
        width: 19em;
        height: auto;
        justify-content: center;
        align-items: center;

    }
    .products_list_texts {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        .products_list_title p {
            margin-bottom: 1em;
        }

        button {
            height: 4em;
            color: white;
            background-color: $mid-green;
            border-color: $dark-green;
            border-radius: 10px;
            box-shadow: 1px 1px 1px $shadow-green;
        
            &:hover {
                background-color: $dark-green;
                color: $light-green;
                cursor: pointer;
            }
        }
    }
}

.products_create-new button {
    font-size: large;
    height: 4em;
    padding: 10px;
    background-color: $light-green;
    border-color: $mid-green;
    border-radius: 10px;
    box-shadow: 1px 1px 1px $shadow-green;

    &:hover {
        background-color: $mid-green;
        color: $light-green;
        cursor: pointer;
    }
}